* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.forms {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

body {
  background-image: url("money.jpg");
  background-size: over;
  background-repeat: repeat;
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100vw;
}

input {
  text-align-last: center;
}

select {
  text-align-last: center
}

h3 {
  text-align: center;
}

.div1 {
  padding: 10px;
}
